.app.dark {
    --bg-color: #2e2e2e;
    --inverted-bg-color: #fbecec;
    --primary-color: #13e868;
    --secondary-color: #3ac772;
    --inverted-primary-color: #400c80;
    --inverted-secondary-color: #2d095a;
}
