.app.light {
    --bg-color: #fbecec;
    --inverted-bg-color: #2e2e2e;

    --primary-color: #400c80;
    --secondary-color: #2d095a;

    --inverted-primary-color: #13e868;
    --inverted-secondary-color: #3ac772;
}
